<p-menubar [model]="items">
    <div *ngIf="!isConnected">
        <button pButton label="Login" class="pi pi-reply" style="margin-left:.25em" (click)="navigate('/login')">login</button>
        <button pButton label="Register" class="pi pi-user-edit" style="margin-left:.25em"(click)="navigate('/register')">register</button>
    </div>
    <div *ngIf="isConnected">
        <button pButton label="Logout" class="pi pi-exit" style="margin-left:.25em" (click)="logout()">Logout</button>
    </div>
</p-menubar>
